@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
/* configuración de página */
* {
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

header {
    background-image: url(/apple-pie/images/apple-pie.jpg);
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
}

.ingredients img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
}

#recipe-information {
    padding: 2rem 4rem;
}

#recipe-information p {
    font-size: 1rem;
    font-weight: 100;
    margin: 0 0 2rem 0;
    text-align: justify;
}

#ingredients {
    padding: 2rem 0;
}

h1 {
    font-size: 3.5rem;
    color: white;
    font-weight: 400;
}

h2 {
    font-size: 2rem;
    font-weight: 300;
    margin: 2rem;
}

#ingredients ul {
    margin: 0 0 3rem 2rem;
    list-style-type: "- ";
}

#ingredients li {
    font-size: 1rem;
    font-weight: 300;
}

#directions ol {
    list-style-type:none;
    margin: 0 0 3rem 2rem;
    counter-reset: section;
}

#directions ol li::before {
    content: "" counter(section) ") ";
    counter-increment: section;
}

#directions li {
    font-size: 1rem;
    font-weight: 300;
    margin: 0.5rem 0;
}